@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-text-primary: #000000;
  --color-text-secondary: #efecea;
  --color-text-accent: #00672e;
  --color-background: #efecea;
}

::-webkit-scrollbar {
  display: none;
}

/* Define animation for shapes */
@keyframes moveIn {
  from {
    transform: translateY(50px); /* Starting position off-screen */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* End position */
    opacity: 1;
  }
}

.shape {
  opacity: 0;
  animation: moveIn 1s forwards;
}

.shape.active {
  animation: moveIn 1s forwards;
}
